$yellow: rgb(255, 255, 169);
$gray: rgb(180, 180, 180);
$darkgray: rgb(77, 77, 77);
$black: rgb(0, 0, 0);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $black;
    color: $yellow;
    font-family: 'VT323', monospace, sans-serif;
}

main {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    height: 300px;
    width: 400px;
    background-color: $yellow;
    color: $black;
    border: none;
    font-family: 'VT323', monospace, sans-serif;
    font-size: 2rem;
    resize: none;

    &:disabled {
        background-color: $gray;
    }

    &::placeholder {
        color: $darkgray;
    }
}

.text {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.btn {
    background-color: $black;
    color: $yellow;
    border: 2px $yellow solid;
    font-family: 'VT323', monospace, sans-serif;
    font-size: 3rem;
    cursor: pointer;

    transition: all 0.2s ease-in;
    &:hover {
        background-color: $yellow;
        color: $black;
    }

    &:disabled {
        background-color: $gray;
        color: $darkgray;
        border: 2px $darkgray solid;
    }
}

